@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
body{
  margin: 0;
}
.borders{
  border-bottom: 1px solid rgb(209, 209, 209);
}
.truncate-3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; /* Number of lines to show before truncating */
  line-height: 1.25rem; /* Adjust line height based on your design */
}
.footer{
  background-color: #232F3E;
}
.main-footer{
  background-color: #364352;
}
.bgg{
  background-color: #12161c;
}
.bggs{
  background-color: whitesmoke;
}
.whitesmoke{
  background-color: whitesmoke;
}
.gre{
  background-color: rgb(225, 225, 225);
}
.ggg{
  border: none;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: gray;
}
.ddd{
  border-style: dashed;
}